#header{
    background:url("../Images/HEADER_BG_DESKTOP.jpg") no-repeat  center top / cover ;
    // background-size:cover;

    

    .header-content{
        min-height:calc(100vh - 160px);
        display: flex;
        align-items: center;

    }
}

#opportunities{
    padding: 4rem 0px;
}